<nav class="nav">
  <a class="nav-link" href="/">Developers</a>
  <a class="nav-link" href="/ppr">Ppr's</a>
  <a class="nav-link active" href="/reviewers">Reviewers</a>
  <a class="nav-link" href="/matrix">Skill grade matrix</a>
</nav>